name: ci 
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs==1.5.2 mkdocs-material==9.1.21 mkdocstrings==0.22.0 mkdocstrings-python==1.3.0 mkdocs-material-extensions==1.1.1 "mkdocs-material[imaging]" pillow cairosvg --upgrade
      - run: mkdocs gh-deploy --force
